#
# project specific stuff
#
bin
clang

.builder

*.o

builder.exe
builder_tests.exe

# ignore test binaries
tests/**/*.exe
tests/**/*.ilk
tests/**/*.pdb

releases/**/*

bug_reports/**/*


#
# visual studio stuff
#
.vs
x64

# ignore test-generated visual studio solutions
tests/**/*.sln
tests/**/*.vcxproj
tests/**/*.vcxproj.user
tests/**/*.vcxproj.filters


#
# rider stuff
#
.idea