#
# project specific stuff
#
bin
.builder
*.o

#
# default compiler
#
clang
clang_win64
clang_linux


builder.exe
builder_tests.exe

# ignore test binaries
tests/**/*.exe
tests/**/*.ilk
tests/**/*.pdb

releases/**/*

bug_reports/**/*


#
# visual studio stuff
#
.vs
x64


#
# rider stuff
#
.idea


#
# zed stuff
#

.zed


# ignore test-generated visual studio solutions
tests/**/*.sln
tests/**/*.vcxproj
tests/**/*.vcxproj.user
tests/**/*.vcxproj.filters
